* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 2rem;
}

body {
    padding: 1rem;
    font-family: Garamond, serif;
    background: #0a2239;
    color: whitesmoke;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

section {
    display: inline-block;
}

img {
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #53a2be;
}

div {
    padding: 1.5rem;
}
